{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Nested row for non-featured blog posts-->        
            <div class="row">
                {% for photo in photo_list %} 
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        
                        {% if photo.hexcolorDominant != '-------' %}
                            {% if debug  %}
                                {% if photo.image %}
                                <a href="{{MEDIA_URL}}{{photo.image.url}}"><img class="card-img-top" src="{{photo.image.url}}" alt="{{photo.title}}" /></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <h4>The photo cannot be accessed.</h4>
                            <p>Check "url" in the dictionary or use the exaple.json file.</p>
                        {% endif %}

                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">{{photo.title}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">{{photo.id}}</th>
                                    </tr>
                                    <tr>
                                        <th scope="row">Album ID</th>
                                        <td>{{photo.albumId}}</td>
                                    </tr>
                                    {% if photo.image %}
                                        <tr>
                                            <th scope="row">URL</th>
                                            <td><a href="{{MEDIA_URL}}{{photo.image.url}}">{{MEDIA_URL}}{{photo.image.url|slice:"0:35"}}</a></td>
                                        </tr>
                                        {% if photo.hexcolorDominant != '-------'%}
                                        <tr>
                                            <th scope="row">Width</th>
                                            <td>{{photo.width}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Height</th>
                                            <td>{{photo.height}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Dominant color</th>
                                            <td>{{photo.hexcolorDominant}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <a class="btn btn-primary" href="{% url 'managing_photos:delete_photo' photo.id %}">Delete</a>
                            <a class="btn btn-primary" href="{% url 'managing_photos:photo_update' photo.id %}">Update</a>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <!-- Pagination-->
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if is_paginated %}
              
                      {% if page_obj.has_previous %}
                        <a class="btn btn-outline-primary" href="?page=1">First</a>
                        <a class="btn btn-outline-primary " href="?page={{ page_obj.previous_page_number }}">Previous</a>
                      {% endif %}
              
                      {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                          <a class="btn btn-outline-secondary" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <a class="btn btn-outline-secondary " href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                      {% endfor %}
              
                      {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                      {% endif %}
              
                    {% endif %}
                  </ul>
              
            </nav>
            {% endif %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Information</h4>
                <p>After pressing the "Upload!" photos are loading in the background. You can use the site.</p>
                <hr>
                <p class="mb-0">The Delete All Photos button works for photos that have been uploaded, not those that are just loading.</p>
            </div>
            <div class="card mb-4">
                <div class="card-header">Add photo</div>
                <div class="card-body">
                    <form method="POST" action = '{% url 'managing_photos:create_photo' %}'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Title</label></br>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">album ID</label></br>
                            {{ form.albumId}}
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">URL</label></br>
                            {{ form.url}}
                        </div>
                        <input type="submit" class="btn btn-primary" value="Add!">
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Import photos from .json file</div>
                <div class="card-body">
                    <form action = '{% url 'managing_photos:upload' %}' enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="file" class="form-control" name="document" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <input type="submit" class="btn btn-primary" value="Upload!"> 
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Import photos from external API</div>
                <div class="card-body">
                    <form action = '{% url 'managing_photos:api_link' %}' method="get">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control"  name="document" type="text" value="https://raw.githubusercontent.com/AdrianGuzniczak/photo-management-application/main/example.json" aria-label="Enter search term..." aria-describedby="button-search" />
                            <input type="submit" class="btn btn-primary" value="Upload!">
                        </div>
                    <form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Delete all photos</div>
                <div class="card-body">
                    <a href = '{% url 'managing_photos:confirm_all_delete' %}'><button type="button" class="btn btn-danger">Delete All Photos</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}