{% extends 'main.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Error uploading json file</h1>
      <p class="lead">Sample json file pattern:</p>
      <pre>
        <code>
            [
            {
              "albumId": 1,
              "id": 1,
              "title": "accusamus beatae ad facilis cum similique qui sunt",
              "url": "https://via.placeholder.com/600/92c952",
              "thumbnailUrl": "https://via.placeholder.com/150/92c952"
            },
            {
              "albumId": 2,
              "id": 2,
              "title": "asdasdasdasdasd",
              "url": "https://via.placeholder.com/600/92c952",
              "thumbnailUrl": "https://via.placeholder.com/150/92c952"
            }
            ]
        
    </code>
    </pre>
    </div>
</div>


{% endblock content %}